@import 'normalize';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(/images/background.jpg);
  background-size: cover;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 710px;
}

.noa-logo,
.intro,
.grocers__grocer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  text-indent: -9999em;
}

.noa-logo {
  background-image: url(/images/noa-logo.svg);
  right: 20px;
  top: 140px;
  width: 200px;
  height: 55px;
  z-index: 9999;
}

.intro {
  background-image: url(/images/intro.png);
  background-position: center top;
  background-size: auto 100%;
  height: 300px;
  width: 100%;
}

.grocers {
  $width: 95%;
  position: absolute;
  left: 50%;
  bottom: 0;
  list-style: none;
  margin: 0;
  margin-left: -($width / 2);
  padding: 0;
  overflow: hidden;
  width: $width;

  &__item {
    background-image: url(/images/bag.svg);
    background-size: 100% auto;
    float: left;
    position: relative;
    margin: 0 0.8% 0 0;
    transition: margin 0.3s;
    width: 16%;
    height: 380px;
    
    &:last-child {
      margin-right: 0;
    }
  
    &:hover {
      margin-top: 0;
    }
  }

  &__grocer {
    position: absolute;
    left: 5%;
    top: 15%;
    width: 84.5%;
    height: 40%;
  }
}

[data-grocer='rouses'] { background-image: url(/images/logo-rouses.png); }
[data-grocer='winn-dixie'] { background-image: url(/images/logo-winn-dixie.png); }
[data-grocer='robert'] { background-image: url(/images/logo-robert.png); }
[data-grocer='lakeview'] { background-image: url(/images/logo-lakeview.png); }
[data-grocer='zuppardos'] { background-image: url(/images/logo-zuppardos.png); }
[data-grocer='labories'] { background-image: url(/images/logo-labories.png); }
