<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="container">
      <div class="page">
        <div class="noa-logo"><a href="http://theneworleansadvocate.com"> The New Orleans Advocate</a>
        </div>
        <div class="intro">
          <h1> Neighborhood Grocers</h1>
          <h2> View this week’s grocery ads!</h2>
        </div>
      <!--  %ul.grocers
          %li.grocers__item
            %a.grocers__grocer{data: {grocer: 'rouses'}, href: 'http://shop.rouses.com/storelocator.aspx'} Rouse’s
          %li.grocers__item
            %a.grocers__grocer{data: {grocer: 'winn-dixie'}, href: 'https://www.winndixie.com/Savings/WeeklyAds/default.aspx'} Winn-Dixie
          %li.grocers__item
            %a.grocers__grocer{data: {grocer: 'labories'}, href: 'http://www.mybudgetsaver.com/weeklyad/index'} Laborie’s Budget Saver
          %li.grocers__item
            %a.grocers__grocer{data: {grocer: 'robert'}, href: 'http://www.robertfreshmarket.com/weekly-ad'} Robért Fresh Market
          %li.grocers__item
            %a.grocers__grocer{data: {grocer: 'lakeview'}, href: 'http://www.lakeviewgrocery.com/weekly-ad'} Lakeview Grocery
          %li.grocers__item
            %a.grocers__grocer{data: {grocer: 'zuppardos'}, href: 'http://zuppardos.com/weekly-specials/'} Zuppardo’s Family Supermarket
          %li.grocers__item
            %a.grocers__grocer{data: {grocer: 'langensteins'}, href: 'http://www.langensteins.com/weekly-specials'} Langenstein’s-->
      </div>
    </div>
  </body>
</html>
