!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{content: 'IE=edge,chrome=1', http: {equiv: 'X-UA-Compatible'}}

    %title Neighborhood Grocers

    = stylesheet_link_tag 'all'

  %body
    .page
      %a.noa-logo{href: 'http://theneworleansadvocate.com'} The New Orleans Advocate
      
      .intro
        %h1 Neighborhood Grocers
        %h2 View this week’s grocery ads!

      %ul.grocers
        %li.grocers__item
          %a.grocers__grocer{data: {grocer: 'rouses'}, href: 'http://shop.rouses.com/storelocator.aspx'} Rouse’s
        %li.grocers__item
          %a.grocers__grocer{data: {grocer: 'winn-dixie'}, href: 'https://www.winndixie.com/Savings/WeeklyAds/default.aspx'} Winn-Dixie
        %li.grocers__item
          %a.grocers__grocer{data: {grocer: 'robert'}, href: 'http://www.robertfreshmarket.com/weekly-ad'} Robért Fresh Market
        %li.grocers__item
          %a.grocers__grocer{data: {grocer: 'lakeview'}, href: 'http://www.lakeviewgrocery.com/weekly-ad'} Lakeview Grocery
        %li.grocers__item
          %a.grocers__grocer{data: {grocer: 'zuppardos'}, href: 'http://zuppardos.com/weekly-specials/'} Zuppardo’s Family Supermarket
        %li.grocers__item
          %a.grocers__grocer{data: {grocer: 'labories'}, href: 'http://www.budgetsavercostplus.com/index.html'} Laborie’s Budget Saver

